<html ng-app>
    <head>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
          <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
          <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
          <script src="app.js"></script>
          <style>
              body{
                  margin-left:50px
              }
              
                  .done-true{
                  text-decoration:line-through;
              }
              
          </style>
    </head>
    <body>
        <h3>TODO</h3>
        <div ng-controller="TODO">
            {{remaining()}} of {{todos.length}} remaining [<a ng-click="archive()">archive</a>]
            <ul class="unstyled">
                <li ng-repeat="todo in todos"> <input type="checkbox" ng-model="todo.done"/>
                    <span class="done-{{todo.done}}">{{todo.task}}</span>
                </li>
                
            </ul>
            <form ng-submit="addTask()">
                <input  type="text" ng-model="newTask" size="30"
placeholder="add new todo here" />
                <input class="btn btn-primary" type="submit" value="add" />
              
               
            </form>
        </div>
        
    </body>
</html>